.parameter_string{
	font-family:		"Cuprum",Tahoma;
	font-size:			16px;
	border-bottom:	1px dashed #999999;
	padding:				10 0px;
}

.parameter_string .label{
	float:					left;
	text-align:			right;
	width:					230px;
	padding-right:	10px;
	line-height:		30px;
}

.parameter_string.first{
	border-top:			1px dashed #999999;
}

.parameter_string .field{
	overflow:				hidden;
}

.parameter_string .field > input[type="text"]{
	width:					100%;
}