/* ------------------------------- Стилизация ------------------------------- */
.tH{
background-color: #eeeeee;
text-align: center;
font-weight: bold;
}

.tHn{
text-align: center;
font-weight: bold;
}

.tN{
background-color: #E5EFFF;
text-align: center;
}

.tNs{
background-color: #FFFFCC;
text-align: center;
}

.tR{
background-color: #000000;
text-align: center;
height: 2px;
}
/* ------------------------------ Выравнивание ------------------------------ */
/* для */
.vaM{
 vertical-align: middle;
}

.vaT{
 vertical-align: top;
}

.vaB{
 vertical-align: bottom;
}

.cPL5
{
 padding: 0 0 0 5px;
}

.cP5
{
 padding: 5px;
}

.aL
{
 text-align: left;
}

.aR
{
 text-align: right;
}

.aC
{
 text-align: center;
}

.tB
{
 font-weight: bold;
}

.tI
{
 font-style: italic;
}

.tU
{
 text-decoration: underline;
}

.link
{
 text-decoration: underline;
 cursor:          pointer;
}

.pointer
{
 cursor:          pointer;
}

.green{
 color: green;
}

.red{
 color: #cc0000;
}

.cuprum{
 font-family: 'Cuprum',Tahoma;
 font-size: 14;
}

.inline{
 display:        inline-block;
 vertical-align: middle;
}

.green_border{
 border: 1px solid green!important;
}

.mr5{
 margin-right:    5px;
}
.mr10{
 margin-right:   10px;
}
.mr15{
 margin-right:   15px;
}
.mr20{
 margin-right:   20px;
}
.mr25{
 margin-right:   25px;
}
.mr30{
 margin-right:   30px;
}
.ml5{
 margin-left:    5px;
}
.ml10{
 margin-left:   10px;
}
.ml15{
 margin-left:   15px;
}
.ml20{
 margin-left:   20px;
}
.ml25{
 margin-left:   25px;
}
.ml30{
 margin-left:   30px;
}

.p0{
 padding:    0px  0px !important;
}
.p5{
 padding:    5px  5px !important;
}
.p10{
 padding:   10px 10px !important;
}
.p15{
 padding:   15px 15px !important;
}
.p20{
 padding:   20px 20px !important;
}
.p25{
 padding:   25px 25px !important;
}
.p30{
 padding:   30px 30px !important;
}

.pl0{
 padding-left:    0px !important;
}
.pl5{
 padding-left:    5px !important;
}
.pl10{
 padding-left:   10px !important;
}
.pl15{
 padding-left:   15px !important;
}
.pl20{
 padding-left:   20px !important;
}
.pl25{
 padding-left:   25px !important;
}
.pl30{
 padding-left:   30px !important;
}
.pl35{
 padding-left:   35px !important;
}
.pl40{
 padding-left:   40px !important;
}
.pl45{
 padding-left:   45px !important;
}

.pr5{
 padding-right:   5px !important;
}
.pr10{
 padding-right:  10px !important;
}
.pr15{
 padding-right:  15px !important;
}
.pr20{
 padding-right:  20px !important;
}
.pr25{
 padding-right:  25px !important;
}
.pr30{
 padding-right:  30px !important;
}

.pt5{
 padding-top:   5px !important;
}
.pt10{
 padding-top:  10px !important;
}
.pt15{
 padding-top:  15px !important;
}
.pt20{
 padding-top:  20px !important;
}
.pt25{
 padding-top:  25px !important;
}
.pt30{
 padding-top:  30px !important;
}

.pb5{
 padding-bottom:   5px !important;
}
.pb10{
 padding-bottom:  10px !important;
}
.pb15{
 padding-bottom:  15px !important;
}
.pb20{
 padding-bottom:  20px !important;
}
.pb25{
 padding-bottom:  25px !important;
}
.pb30{
 padding-bottom:  30px !important;
}

.bld{
 border-left: 1px dashed #999999;
}

.noDisplay{
 display: none;
}

.w100p{
 width:            100%;
}

/* ----------------------- table_dsb (dashed border) ------------------------ */
table.table_dsb {
 border-collapse: collapse;
}

table.table_dsb {
 border-collapse: collapse;
 font-family: 'Cuprum', Tahoma;
 font-size: 16px;
}

table.table_dsb th, table.table_dsb thead td {
 padding: 10px 10px;
 border:  0px dashed #999999;
}

table.table_dsb td {
 padding: 10px 10px;
 border-bottom: 1px dashed #999999;
}
/* -------------------------------------------------------------------------- */
.cms_input{
 height:           30px;
 outline:          none;
 border:           none;
 background-color: transparent;
 font-family:      "Cuprum",Tahoma;
 font-size:        16px;
}

.cms_input:focus{
 border:           1px solid #505050;
}

.cms_select{
 height:           30px;
 outline:          none;
 border:           1px solid #505050;
 background-color: transparent;
 font-family:      "Cuprum",Tahoma;
 font-size:        16px;
}
/* -------------------------------------------------------------------------- */