	body {
		min-width: 980px;
		padding: 0;
		margin: 0;
	}
	.struct_add_razdel{
		background-color: #fdf4e3;
	}
	.structure-block {
		position: relative;
		display: block;
	}
	
	.structure-block>div:first-child  {
		background-color: #E6E6E6;
		border-bottom: 1px solid #B8B8B8;
		display: table;
		width: 100%;
	}
	
	.structure-block>div:first-child .form-left {
		display: table-cell;
		vertical-align: top;
		text-align: center;
	}
	
	.structure-block>div:first-child .form-right {
		display: table-cell;
		height: 100%;
		vertical-align: top;
	}
	
	.structure-block>div:first-child .form-right span {
		border-left: 1px solid #B8B8B8;
		color: #5C5C5C;
		display: inline-block;
		font-family: Lucida Console;
		font-size: 11px;
		height: 100%;
		text-align: center;
		vertical-align: top;
		word-wrap: break-word;
	}
	.structure-block>div:first-child>span {
		text-align: center;
	}
	.structure-block>div {
		display: block;
		border-bottom: 1px solid #C4C4C4;
	}
	
	.structure-block>div form {
		display: table;
		vertical-align: top;
		margin: 0;
		width: 100%;
	}
	.form-left {
		display: table-cell;
		vertical-align: top;
	}
	.form-right {
		display: table-cell;
		vertical-align: top;
		height: 100%;
		text-align: left;
	}
	.form-right>span {
		text-align: left;
	}
	.form-right>span>span {
		margin: 0 4px;
	}
	
	.structure-block>div>form>.form-right>span {
		color: #3A3A3A;
		display: inline-block;
		font-family: Verdana;
		font-size: 12px;
		font-weight: bold;
		vertical-align: top;
		text-align: center;
		border-left: 1px solid #B8B8B8;
	}
	
	.structure-block>div:first-child .str-name, #fixHead .str-name{
		width: 100%;
		display: block;
		font-size: 12px;
		padding-top: 6px;
		width: 100%;
		color: #5C5C5C;
	}
	.structure-block>div:first-child  .form-right .str-id, .structure-block>div:first-child  .form-right .str-link, .structure-block>div:first-child  .form-right .str-deystv, #fixHead .str-id, #fixHead .str-link, #fixHead .str-deystv {
		font-size: 12px;
		padding-top: 6px;
	}
	
	.str-name {
		width: 100%;
	}
	.str-name>span {
		display: block;
		padding-right: 4px;
	}
	.str-name input {
		width: 100%;
		margin: 0;
		padding: 4px;
	}
	
	.str-id {
		width: 39px;
	}
	.str-id span {
		display: block;
		padding: 10px 0;
		margin-left: 4px;
	}
	.str-id span a{
		color: #5a4800;
	}
	
	.str-parent {
		width: 38px;
	}
	.str-parent span {
		display: block;
	}
	.str-parent input {
		width: 100%;
		margin: 0;
		padding: 4px;
		text-align: center;
	}
	
	.str-porydok {
		width: 44px;
	}
	.str-porydok span {
		display: block;
	}
	.str-porydok input {
		width: 100%;
		margin: 0;
		padding: 4px;
		text-align: center;
	}
	
	.str-link {
		width: 120px;
	}
	.str-link span {
		display: block;
	}
	.str-link input {
		width: 100%;
		margin: 0;
		padding: 4px;
	}
	
	.str-general {
		width: 38px;
	}
	.str-general span {
		display: block;
		margin-top: 6px;
		padding: 6px 0 7px;
	}
	.str-general input {
		width: 100%;
		margin: 0;
	}

	.str-visible{
		width: 38px;
	}
	.str-visible span {
		display: block;
		margin-top: 6px;
		padding: 6px 0 7px;
	}
	.str-visible input {
		width: 100%;
		margin: 0;
	}
	
	.str-closed {
		width: 38px;
	}
	.str-closed span {
		display: block;
		margin-top: 6px;
		padding: 6px 0 7px;
	}
	.str-closed input {
		width: 100%;
		margin: 0;
	}
	
	.str-level {
		width: 38px;
	}
	.str-level span {
		display: block;
	}
	.str-level input {
		width: 100%;
		margin: 0;
		padding: 4px;
		text-align: center;
	}
	
	.structure-block>div:first-child .str-deystv, #fixHead .str-deystv {
		width: 220px;
	}
	
	.structure-block input,
	.struct_add_razdel input,
	.struct_add_razdel select {
		padding: 4px 2px;
		border: 1px solid #D7D7D7;
		background-color: #F7F7F7;
		color: #606060;
		margin: 4px 0;
	}
	.structure-block input:focus,
	.struct_add_razdel input:focus	{
		border: 1px solid #95B5E7;
		background-color: #fff;
		color: #000;
	}
	
	.structure-block input[type="button"],
	.structure-block input[type="submit"],
	.struct_add_razdel input[type="submit"] {
		cursor: pointer;
		padding: 4px;
		-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
		-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
		box-shadow:inset 0px 1px 0px 0px #ffffff;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
		background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
		background-color:#ededed;
		border:1px solid #dcdcdc;
		display:inline-block;
		color:#777777;
		font-family:arial;
		font-size:11px;
		font-weight:bold;
		text-decoration:none;
		text-shadow:1px 1px 0px #ffffff;
	}
	.structure-block input[type="button"]:hover,
	.structure-block input[type="submit"]:hover,
	.structure-block input[type="button"]:focus,
	.structure-block input[type="submit"]:focus,
	.struct_add_razdel input[type="submit"]:hover,
	.struct_add_razdel input[type="submit"]:focus {
		-moz-box-shadow:inset 0px 1px 0px 0px #e0edf8;
		-webkit-box-shadow:inset 0px 1px 0px 0px #e0edf8;
		box-shadow:inset 0px 1px 0px 0px #e0edf8;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bcff), color-stop(1, #3399cc) );
		background:-moz-linear-gradient( center top, #79bcff 5%, #3399cc 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bcff', endColorstr='#3399cc');
		background-color:#79bcff;
		border:1px solid #84bbf3;
		display:inline-block;
		color:#ffffff;
		text-shadow:1px 1px 0px #528ecc;
	}
	.structure-block input[type="button"]:active, .structure-block input[type="submit"]:active {
		position:relative;
		top:1px;
	}

/*-----*/

	.struct_add_razdel {
		position: fixed;
		bottom: -68px;
		z-index: 99;
	}
	.struct_add_razdel>div {
		box-shadow: 0 0 10px #9D9D9D;
		-webkit-box-shadow: 0 0 10px #9D9D9D;
		height: 100%;
		position: absolute;
		width: 100%;
		z-index: 1;
	}
	.struct_add_razdel>span:first-child {
		background-color: #fdf4e3;
		box-shadow: 0 0 10px #9D9D9D;
		-webkit-box-shadow: 0 0 10px #9D9D9D;
		display: block;
		border-radius: 6px 6px 0 0;
		-webkit-border-radius: 6px 6px 0 0;
		font-size: 12px;
		left: 0;
		margin-bottom: 4px;
		padding: 6px 10px;
		position: absolute;
		top: -26px;
		z-index: 2;
		cursor: pointer;
		color:	#777777;
		text-align: center;
	}
	.struct_add_razdel>span:first-child:hover {
		background-color:#ffcf48;
	}
	.struct_add_razdel>form {
		padding: 4px 10px;
		z-index: 3;
		position: relative;
	}
	.struct_add_razdel table tr:first-child td {
		padding: 4px 4px;
	}
	.struct_add_razdel table td {
		padding: 0 4px;
	}
	.help_empty {
		height: 100px;
	}
	
	.struct_add_razdel.normal {
		position: relative;
		bottom: 0;
		padding-top: 20px;
	}
	.struct_add_razdel.normal > span:first-child,
	.struct_add_razdel.normal > div,
	.struct_add_razdel.normal + .help_empty {
		display: none;
	}
	.struct_add_razdel.normal > form {
		padding: 0;
	}
	
	.struct_add_razdel.toggle {
		
	}
	
