<title>CMS - ${env:SERVER_NAME}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="/favicon.ico" rel="icon" type="image/x-icon">
<link href="${cms:templateFolder}/styles/cms.css" rel="stylesheet" type="text/css">
<link href='${cms:templateFolder}/styles/style_google.css' rel='stylesheet' type='text/css'>
<!------------------------------- JQUERY ------------------------------------->
<script type="text/javascript" src="/lib/jquery/jquery-1.11.2.min.js"></script>